a#link-to-fond:hover {
  background-color: white;
  color: #4E80FF !important; }

a#link-to-fond:visited {
  color: #fff; }

#close-fond-bar:hover {
  cursor: pointer; }

#fond-bar {
  display: block;
  height: 50px;
  max-height: 60px;
  min-height: 10px;
  background-color: #147BD1;
  padding: 5px 5px 5px 10px;
  position: fixed;
  left: 0;
  top: 42px;
  margin-top: -60px;
  width: 100%;
  z-index: 999999;
  text-align: center;
  -webkit-box-sizing: initial;
  box-sizing: initial; }

#fond-bar-container {
  display: inline-block;
  width: 98%;
  margin: 0;
  position: relative;
  line-height: 32px;
  max-height: 32px; }

#fond-text {
  position: relative;
  color: white !important;
  font-size: 16px !important;
  font-family: 'walsheim', Arial !important;
  text-align: centecenter !important;
  margin: 0 !important;
  float: left !important;
  text-shadow: none !important;
  padding: 4px !important;
  line-height: 60px;
  vertical-align: middle;
  width: 100%; }

#link-to-fond {
  color: #fff;
  font-family: 'walsheim', Arial !important;
  font-size: 14px !important;
  font-weight: normal !important;
  border: 1px solid white;
  padding: 6px 20px;
  border-radius: 2px;
  text-decoration: none !important;
  margin-left: 12px; }

#fond-small {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-top: -2px;
  vertical-align: middle;
  display: inline !important; }

#close-fond-bar {
  position: absolute;
  top: 26px;
  right: 5px;
  width: 14px;
  z-index: 999999;
  font-family: Arial;
  font-size: 12px; }
